{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        astar-search/astar-search {:mvn/version "0.2"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        dev.weavejester/medley {:mvn/version "1.7.0"}
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        clatrix/clatrix {:mvn/version "0.5.0"}
        
        ;; this is a piece of shit it calcs det badly 
        ;; net.mikera/vectorz-clj {:mvn/version "0.48.0"}
        
        }}
